.imagen1{
  width: 100px;
  height: auto;
  background-color: black;

}
.imagen {
 background-color: rgb(216, 215, 222);
 width: 200px;
 height: auto;
    
}
.imagen2{
  width: 50px;
  height: auto;
}
.imagen3{
  width: 50px;
  height: auto;
}
body{
background-image: url(imagenes/lat.jpg);
background-size: cover;
}
main {
  color: rgb(255, 255, 255);
}
i {
  color: rgb(0, 255, 153);
}
ul{
  color: white;
}
a{
  color: rgb(248, 0, 0);
}

h2{
  color: rgb(249, 255, 252);
}